<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>index</title>
  <script src="./index.js"></script>
</head>
<body>
    <h1>local login page</h1>
    <div>
      
      <a href="http://localhost:3000/auth/login">로컬 로그인</a>
      <a href="http://localhost:3000/auth/signin">로컬 회원가입</a>
    </div>
</body>
</html>