<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>index</title>
  <script src="./index.js"></script>
</head>
<body>
    <h1>login page</h1>
    <div>
        <a href="./localLogin.ejs">카카오 로그인</a>
        <a href="./kakaoLogin.ejs">카카오 로그인</a>
    </div>
</body>
</html>