<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>index</title>
  <script src="./index.js"></script>
</head>
<body>
    <h1>Main</h1>
    <div>
        <a href="http://localhost:3000/loginPage">로그인페이지</a>
        <a href="http://localhost:3000/paymentPage">결제 페이지</a>
    </div>
</body>
</html>